
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #8b5e3c;
  font-size: 14px;
}


.login-container {
background: #fdf6e3;
padding: 40px;
border-radius: 15px;
border: 3px solid #8b5e3c;
min-width: 300px;
max-width: 500px;
top: 50%;
left: 50%;
padding: 20px;
position: absolute;
transform: translate(-50%, -50%);
}

h1 {
text-align: center;
}

form label {
  font-weight: 600;
  margin-top: 15px;
  display: block;
  color: #5d4037;
}
form input,
form select,
form textarea {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #a67b5b;
  border-radius: 8px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff8dc;
}


.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #a67b5b;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.tab-button:first-child {
    border-radius: 8px 0 0 8px;
}

.tab-button:last-child {
    border-radius: 0 8px 8px 0;
}

.tab-button.active {
    background-color: #8b5e3c;
}

.tab-content {
    display: block;
}

.tab-content.hidden {
    display: none;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #8b5e3c;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #a67b5b;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
}

form button:hover {
  border: 1px solid #a67b5b;
  background-color: #6b4226;
}


a {
  color: #5d4037;          /* Usa a cor herdada do body */
  text-decoration: none;   /* Remove o sublinhado */
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

a:hover {
  text-decoration: underline; /* Efeito sutil no hover */
}
