{% load i18n %}
{% autoescape off %}
{% blocktrans %}Olá,{% endblocktrans %}

{% blocktrans %}Você solicitou a redefinição de senha para sua conta no {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, clique no link abaixo para criar uma nova senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Se você não solicitou esta redefinição, por favor ignore este e-mail." %}

{% trans "Atenciosamente," %}
{% blocktrans %}Equipe {{ site_name }}{% endblocktrans %}
{% endautoescape %}